* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('./../fonts/MuseoSans/MuseoSansCyrl-100.eot');
  src: url('./../fonts/MuseoSans/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/MuseoSans/MuseoSansCyrl-100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('./../fonts/MuseoSans/MuseoSansCyrl-300.eot');
  src: url('./../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/MuseoSans/MuseoSansCyrl-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('./../fonts/MuseoSans/MuseoSansCyrl-500.eot');
  src: url('./../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./../fonts/GothamPro/GothamPro.eot');
  src: url('./../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/GothamPro/GothamPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./../fonts/GothamPro/GothamPro-Medium.eot');
  src: url('./../fonts/GothamPro/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/GothamPro/GothamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./../fonts/GothamPro/GothamPro-Bold.eot');
  src: url('./../fonts/GothamPro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/GothamPro/GothamPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Berlingske Serif';
  src: url('./../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.ttf') format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Berlingske Serif';
  src: url('./../fonts/BerlingskeSerif/BerlingskeSerif-DBdItalic.ttf') format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Berlingske Serif';
  src: url('./../fonts/BerlingskeSerif/BerlingskeSerif-XBdItalic.ttf') format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Berlingske Serif';
  src: url('./../fonts/BerlingskeSerif/BerlingskeSerif-BlkItalic.ttf') format("opentype");
  font-weight: 900;
  font-style: italic;
}

body {
  background-color: #ffffff;
  background: url("./../img/bg.png") no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #282828;
}

img {
  display: inline-block;
}

.container {
  width: 75vw;
  margin: 0 auto;
  padding: 0 1vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

//header
.header {
  display: grid;
  grid-template-columns: 2fr 4fr 4fr 2fr;
  grid-gap: 1vw;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 0 3vw;
}

.logo {
  margin-bottom: 1vw;
  img {
    display: block;
    width: 100%;
  }
}

.legend {
  font-family: 'Museo Sans', sans-serif;
  font-size: calc(11px + .06vw);
  &_text {
    margin-bottom: 1vh;
    font-weight: 300;
  }
  &_option {
    display: flex;
    font-weight: 500
  }
  img {
    max-height: 28px;
  }
  span {
    margin-left: 5px;
  }
}

.warranty {
  margin-left: 0.5vw;
}

.time, .warranty {
  display: flex;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  font-family: 'Museo Sans', sans-serif;
  font-weight: 500;
  font-size: calc(10px + .06vw);
  line-height: 1.5vw;
  letter-spacing: 0.08vw;
  &_link {
    color: #d5132a;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px dashed;
  }
}

.contact {
  &_status {
    font-family: 'Museo Sans', sans-serif;
    font-weight: 500;
    font-size: calc(10px + .06vw);
    margin-bottom: .9vw;
    &:before {
      content: '';
      display: inline-block;
      width: 0.7vw;
      height: 0.7vw;
      border-radius: 100%;
      background: #00af47;
      vertical-align: middle;
      margin-right: .6vw;
    }
  }
  &_status.active {
    color: #00af47;
  }
  &_link {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: calc(16px + .06vw);
    color: #262626;
    text-decoration: none;
  }
  &_number {
    svg {
      vertical-align: middle;
    }
  }

}

//content
.main {
  padding-bottom: 3vw;
}

.free {
  margin-bottom: 3.5vw;
  &_button {
    background: url("./../img/shape4.svg") no-repeat center;
    background-size: contain;
    display: inline-block;
    padding: 1.7vw 2vw;
    font-family: 'Berlingske Serif', serif;
    font-style: italic;
    font-weight: 600;
    font-size: calc(18px + .06vw);
    color: #ffffff;
  }
  &_bill {
    position: relative;
    display: inline-block;
    width: 3.5vw;
    img {
      width: 100%;
    }
  }
  &_close {
    position: absolute;
    top: 1vw;
    right: -1vw;
    background: url("./../img/close.svg") no-repeat center;
    filter: drop-shadow(0 0 10px rgba(213, 19, 42, .6));
    width: 1vw;
    height: 1vw;
    border: none;
    outline: 0;
    padding: 1vw;
    cursor: pointer;
  }
}

.column {
  display: inline-block;
  width: 50%;
}

.content {
  &_text {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-size: calc(32px + .06vw);
    margin-bottom: 2vw;
    span {
      font-family: 'Berlingske Serif', serif;
      font-weight: 900;
      font-style: italic;
    }
  }
  &_subtext {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-size: calc(22px + .06vw);
    margin-bottom: 2.5vw;
    span {
      font-family: 'Berlingske Serif', serif;
      font-weight: 800;
      font-style: italic;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: calc(150px + .06vw);
        height: calc((150px + .06vw) / 13);
        background: #fadcb0;
        position: absolute;
        left: 0;
        bottom: -0.1vw;
        z-index: -1;
      }
    }
    &:before {
      content: '';
      display: inline-block;
      width: 42px;
      height: calc(42px / 42);
      background: #c0c2c2;
      vertical-align: middle;
      margin-right: 1vw;
    }
  }
}

.offer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.5vw;
  &_column {
    flex: 0 1 33%;
  }
  &_head {
    font-family: 'Berlingske Serif', serif;
    font-weight: 800;
    font-style: italic;
    font-size: calc(12px + .06vw);
    margin: .6vw 0;
  }
  &_text {
    font-family: 'Museo Sans', sans-serif;
    font-weight: 100;
    font-size: calc(10px + .06vw);
  }
}

.calculation {
  display: inline-block;
  position: relative;
  padding: 1.5vw 5.5vw;
  background: rgb(233, 96, 28);
  background: linear-gradient(180deg, rgba(233, 96, 28, 1) 0%, rgba(213, 19, 42, 1) 100%);
  border-radius: 7px;
  border-bottom: 5px solid #b02021;
  cursor: pointer;
  box-shadow: 3.5px 6.062px 27px 0px rgb(224, 87, 36);
  &_button {
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-size: calc(16px + .06vw);
    letter-spacing: 0.2vw;
    cursor: pointer;
    span {
      display: inline-block;
      text-transform: lowercase;
      font-family: 'Berlingske Serif', serif;
      font-weight: 600;
      font-style: italic;
      font-size: calc(12px + .06vw);
      color: #d5132a;
      background: url("./../img/shape3.svg") no-repeat center;
      background-size: contain;
      padding: .5vw 2vw;
      letter-spacing: normal;
      margin-top: .5vw;
    }
  }
  .gift {
    position: absolute;
    top: -1.6vw;
    left: -1.4vw;
  }
  .mockup {
    position: absolute;
    top: -1vw;
    right: -5.8vw;
  }
}

.examples {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vw;
  &_text {
    margin-left: 2vw;
  }
  &_head {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-size: calc(16px + .06vw);
    margin-bottom: 1.5vw;
    span {
      font-family: 'Berlingske Serif', serif;
      font-weight: 800;
    }
  }
  &_tab {
    background: url('./../img/shape2.svg') no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    padding: 1.5vw 4vw;
    background-size: contain;
    font-family: 'Berlingske Serif', serif;
    font-weight: 600;
    font-size: calc(16px + .06vw);
    color: #747474;
    cursor: pointer;
  }
  &_tab.active {
    background: url('./../img/shape.svg') no-repeat;
    background-size: contain;
    filter: drop-shadow(0 0 27px rgba(0, 0, 0, .14));
    color: #282828;
    cursor: auto;
  }
}

//slider
.slider {
  position: relative;
  &_item {
    img {
      mask: url('./../img/mask.svg');
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      mask-size: contain;
      width: 100%;
    }
  }
  &_controls {
    position: absolute;
    bottom: -1vw;
    left: 5vw;
    display: inline-block;
    background: url('./../img/plank.svg') no-repeat center;
    font-family: 'Berlingske Serif', serif;
    font-weight: 500;
    font-size: calc(16px + .06vw);
    color: #ffffff;
    padding: 2.5vw 2vw;
    .prev-num {
      font-weight: 800;
      font-size: calc(20px + .06vw);
    }
  }
  &_button {
    background: transparent;
    opacity: .5;
    border: none;
    outline: none;
    cursor: pointer;
  }
  &_button.active {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 2vw;
  }
  .slider {
    &_controls {
      padding: 4vw 3vw;
    }
  }

}

@media (max-width: 1024px) {
  .container {
    padding: 0 15px;
  }
  .main {
    padding-bottom: 80px;
  }
  .header {
    grid-template-columns: 2fr 3fr 3fr 2fr;
  }
  .legend {
    font-size: 11px;
    &_text {
      margin-bottom: 10px;
    }
  }
  .contact {
    &_status {
      font-size: 11px;
      text-align: center;
    }
    &_link {
      font-size: 18px;
    }
  }
  .warranty {
    margin-left: 10px;
  }
  .price {
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 2px;
  }
  .calculation {
    display: block;
    text-align: center;
    max-width: 412px;
    width: 100%;
    margin: 0 auto 70px;
    padding: 20px 75px;
    .gift {
      top: -28px;
      left: -16px;
    }
    .mockup {
      top: -17px;
      right: -87px;
    }
  }
}

@media (max-width: 768px) {
  .main {
    padding-bottom: 200px;
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .legend {
    font-size: 11px;
    margin-top: 20px;
  }
  .logo {
    max-width: 40%;
    margin-bottom: 0;
  }

  .free {
    display: none;
  }
  .column {
    width: 100%;
  }
  .content {
    &_text {
      text-align: center;
      font-size: 28px;
    }
    &_subtext {
      text-align: center;
    }
  }
  .offer {
    margin-bottom: 60px;
    &_column {
      text-align: center;

    }
  }
  .examples {
    text-align: center;
  }
  .slider {
    &_item {

    }
    &_controls {
      padding: 40px 30px;
    }
  }
}

@media (max-width: 576px) {
  .calculation .mockup {
    top: -17px;
    right: -70px;
  }
  .calculation .mockup {
    top: -17px;
    right: -70px;
  }
  .legend {
    &_text {
      text-align: center;
    }
    &_option {
      justify-content: center;
    }

  }
  .gift, .mockup {
    display: none;
  }
  .content {
    &_subtext {
      span:after {

      }
    }
  }

}
